<!-- So padding and border no longer increase width. -->
* {
  box-sizing: border-box;
}

body {
	color: #777777
	width:	960px;
}

h1	{
	float: left;
	background-color: #4aaaa5;
	color: #ffffff;
}

h2	{
	color: #4aaaa5;
}

nav	{
	width: 270px;
	float: right;
	border: 1px solid black;
	text-align: left;
}

ul {
	list-style: none;
	margin: 0 auto;
}

li {
	float: left;
	padding: 10px;
}

li.border {
	border-right: 1px solid gray;
	padding: 10px;
}

a {
	color: #777777;
	text-decoration: none;
}


.icon {
	width: 50px;
	height: auto;
	color: none;
	border-right: none;
}

section	{
	background-color: #ffffff;
	float: left;
	color: #777777;
}

p {
	float: left;
}

label {

}

input {

}

.container {
	clear: both;
	overflow: auto;
	margin: 0 auto;
	background-image: url("../images/background.png");
	height: 600px;
	width: 100%;
	border-top: 2px solid gray;
	border-bottom: 5px solid teal;
}

#social-links {
	float: right;
	border: 1px solid black;
	width: 270px;
}

#main-bio {
	float: left;
	width: 650px;
	border: 1px solid black;
}

#bio-image {
	float: left;
	margin-right: 20px;
	width: 200px;
	height: 200px;
}

#contact-form {
	float: left;
	width: 650px;
	border: 1px solid black;
}

#project-portfolio {
	float: left;
	margin: 0 auto;
	width: 650px;
	border: 1px solid black;
}

footer {
	clear: both;
	float: left;
	height: 70px;
	background-color: #666666;
	color: #777777;
	text-align: center;
	width: 100%;
}